body{
  font-family: "Open Sans";
  background-color: #008CB8;


}
.front-card{
  background-color: white;
  position: relative;
  margin: 100px 100px;

}
.left{
  position: relative;
  float:left;
  width: 50%;

}
.logo{
  position: absolute;
  top: 150px;
  left: 150px;
  border-style: solid

  border-width: 1px;
  border-top-color: white;
  border-right-color: #EEEEEE;
  border-bottom-color: white;
  border-left-color: white
}
.right{
  position:relative;
  float: right;
  width: 50%;
}
.post{
  position: absolute;
  top: 0px;
  right: 0px;
  clear: both;
}
#get{
  font-size: 22px;
  color: #000000;
  padding-right: 350px;
  padding-top: 150px;

}
#username{
  font-size: 13px;
  color: #000000;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: #EEEEEE;
  padding-right: 150px;

}
#password{
  font-size: 13px;
  color: #000000;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: #EEEEEE;
  padding-right: 150px;

}
.rest{
  display: inline-block;
}
.log{
  margin-bottom: 50px;
}
input[type="button"] {
  background-color: white;
  border-style: solid;
  border-color: white;
  font-size: 13px;
  color: #0084B2;
  border-style: solid;
  border-width: 1px;
  border-color:#0084B2;
  padding: 7px;


}
a{
  text-decoration:none;
}
.rec {
  font-size: 13px;
  color:#0084B2;
  padding-left: 100px;
}
.sign {
  font-size: 13px;
  color:#0084B2;
}
.mid {
  font-size: 13px;
}
.clearboth{
  clear: both;
}
